In [1]:
from pathlib import Path
import sqlite3
from contextlib import closing
from time import time
import pandas as pd
import csv

sql_file = "all_txs.sql"

In [2]:
# Takes the provided CSV file and places it into a table called table_name in the sqlite
# database specified by sql_file. Creates the sqlite database file if it does not exist,
# and drops and creates a new table if one already exists with the same name.
def csv_to_sql(csv_file, sql_file, table_name):
    # Creates the sqlite file, if it does not already exist
    Path(sql_file).touch(exist_ok=True)
    
    # Read the CSV into a pandas dataframe. Since minerRevenue can be too large to fit
    # as an integer, convert it to a string.
    df = pd.read_csv(csv_file, converters={'minerRevenue': str})
    column_names = tuple(df.columns)
    
    # Some values are too large to store as integers, so save them as text, if they exist
    dtypes = {k: 'INTEGER' for k in column_names}
    if 'hash' in column_names:
        dtypes['hash'] = 'TEXT'
    if 'miner' in column_names:
        dtypes['miner'] = 'TEXT'
    if 'minerRevenue' in column_names:
        dtypes['minerRevenue'] = 'TEXT'
    
    # Create a connection and cursor for the sqlite file
    with closing(sqlite3.connect(sql_file)) as conn: # auto-closes the connection
        with conn, closing(conn.cursor()) as cur:    # auto-commits connection and auto-closes cursor
            # Drop the current table, if it exists
            cur.execute("DROP TABLE IF EXISTS " + table_name)

            # Create the table, with appropriate attributes
            cur.execute("CREATE TABLE " + table_name + " " + str(column_names))

            # Put the pandas dataframe into the newly created table
            df.to_sql(table_name, conn, if_exists='append', index=False, dtype=dtypes)

In [3]:
# Executes the provided query using the sqlite database in the file specified by sql_file.
# Automatically commits changes and closes the connection and cursor when done.
def query(query, sql_file=sql_file):
    # Create a connection and cursor for the sqlite file
    with closing(sqlite3.connect(sql_file)) as conn: # auto-closes the connection
        with conn, closing(conn.cursor()) as cur:    # auto-commits connection and auto-closes cursor
            cur.execute(query)
            return cur.fetchall()

In [4]:
# Finds the actual gas used for each transaction, if it exists, and places it into the table for later reference.
def create_gas_used_table(gas_table_name, pending_txs_name, txs_name, confirmed_pending_name):
    query(f"DROP TABLE IF EXISTS {gas_table_name}")
    query(  f'''CREATE TABLE {gas_table_name} AS
                WITH stage AS (
                    SELECT hash, gasLimit
                    FROM {pending_txs_name}
                    GROUP BY hash),
                confirmed_stage AS (
                    SELECT hash, gasUsed
                    FROM {confirmed_pending_name}
                    GROUP BY hash)
                SELECT stage.hash, MIN(IFNULL({txs_name}.gasUsed, stage.gasLimit),
                                       IFNULL(confirmed_stage.gasUsed, stage.gasLimit)) AS minGasUsed
                FROM stage
                LEFT JOIN {txs_name} ON stage.hash = {txs_name}.hash
                LEFT JOIN confirmed_stage ON stage.hash = confirmed_stage.hash''')

In [15]:
# Updates the pending transactions table with information on gas used and prices paid
# For each block, keeps only one copy of each transaction if there are multiple with the same hash.
# Also cleans up the pending transactions, by examining transactions from the same sender with the same nonce
# and keeping only one of them. The transaction to be kept is chosen based on the following criteria, where
# we move on to the next criteria only if all preceding ones are identical:
# 1. maxPriorityFeePerGas: max priority fee being offered (highest first, nulls put last)
# 2. maxFeePerGas: max total fee being offered (highest first, nulls put last)
# 3. gasPrice: amount of gas offered (highest first, nulls put last)
# 4. hash: Finally, if all else is equal somehow, arbitrarily break ties using the highest-value of hash
def update_pending_txs(pending_txs_name, blocks_name, gas_table_name, updated_name=None):
    # Make a new table
    if updated_name is None:
        temp_table = pending_txs_name + '_temp'
    else:
        temp_table = updated_name
    query(f"DROP TABLE IF EXISTS {temp_table}")
    query(f'''CREATE TABLE {temp_table} AS
              WITH stage AS (
                  SELECT *,
                      IFNULL({pending_txs_name}.gasPrice - baseFeePerGas,
                             MIN(maxPriorityFeePerGas, maxFeePerGas - baseFeePerGas)) AS netGasPrice
                  FROM {pending_txs_name}
                  LEFT JOIN {blocks_name}
                      ON {pending_txs_name}.lastBlock = {blocks_name}.blockNumber
                  LEFT JOIN {gas_table_name} 
                      ON {pending_txs_name}.hash = {gas_table_name}.hash
                  WHERE NOT {pending_txs_name}.category = "queued"),
              stage_row_counts AS (
                  SELECT *, ROW_NUMBER() OVER (PARTITION BY hash, lastBlock) AS row_num_hash,
                      ROW_NUMBER() OVER (PARTITION BY sender, nonce, lastBlock ORDER BY netGasPrice DESC) AS row_num_price
                  FROM stage
                  WHERE stage.netGasPrice > 0)
              SELECT stage_row_counts.hash, stage_row_counts.lastBlock, sender, nonce, minGasUsed AS gasUsed, gasLimit, netGasPrice as gasPrice
              FROM stage_row_counts
              WHERE row_num_hash = 1
              AND row_num_price = 1''')
    
    # Replace the old one, if we didn't want to make a new separate table
    if updated_name is None:
        query(f"DROP TABLE {pending_txs_name}")
        query(f"ALTER TABLE {temp_table} RENAME TO {pending_txs_name}")

In [6]:
# Names of tables
pending_txs_name = "pending_txs"
pending_raw_name = "pending_txs_raw"
gas_table_name = "pending_txs_gas"
txs_name = "txs"
confirmed_pending_name = "confirmed_pending_txs"
blocks_name = "blocks"

In [7]:
# Load all CSVs and put them into sqlite tables in the same database, stored in the file sql_file
csv_to_sql("confirmed_txs.csv", sql_file, txs_name)
csv_to_sql("pending_txs_erigon.csv", sql_file, pending_raw_name)
csv_to_sql("confirmed_mempool_txs_erigon.csv", sql_file, confirmed_pending_name)
csv_to_sql("blocks.csv", sql_file, blocks_name)

In [11]:
# Get all values of gas used
create_gas_used_table(gas_table_name, pending_raw_name, txs_name, confirmed_pending_name)

In [16]:
# Update the pending transaction table with actual gas prices used (if available) and gas prices paid,
# and then remove unnecessary columns.
update_pending_txs(pending_raw_name, blocks_name, gas_table_name, pending_txs_name)

In [30]:
res = query('SELECT 1.0*SUM(gasUsed < gasLimit)/COUNT(hash) FROM pending_txs GROUP BY lastBlock')
res

[(0.8876755070202809,),
 (0.6047197640117994,),
 (0.5625,),
 (0.654054054054054,),
 (0.6305084745762712,),
 (0.5673469387755102,),
 (0.6437768240343348,),
 (0.7304216867469879,),
 (0.48490945674044267,),
 (0.7171052631578947,),
 (0.5952380952380952,),
 (0.6388888888888888,),
 (0.4117647058823529,),
 (0.3867924528301887,),
 (0.5851851851851851,),
 (0.5978260869565217,),
 (0.49382716049382713,),
 (0.574585635359116,),
 (0.5324675324675324,),
 (0.4444444444444444,),
 (0.6121076233183856,),
 (0.4751958224543081,),
 (0.6081081081081081,),
 (0.475,),
 (0.5068493150684932,),
 (0.5333333333333333,),
 (0.4891304347826087,),
 (0.5742574257425742,),
 (0.4679144385026738,),
 (0.5263157894736842,),
 (0.6509635974304069,),
 (0.5662650602409639,),
 (0.5388888888888889,),
 (0.4431279620853081,),
 (0.6568457538994801,),
 (0.5800865800865801,),
 (0.5072463768115942,),
 (0.464,),
 (0.6681818181818182,),
 (0.43661971830985913,),
 (0.47560975609756095,),
 (0.4857142857142857,),
 (0.6063829787234043,),
 (0.5976331360946746,),
 (0.7318007662835249,),
 (0.5867507886435331,),
 (0.6792035398230089,),
 (0.5535168195718655,),
 (0.5716723549488054,),
 (0.548951048951049,),
 (0.5477386934673367,),
 (0.5606617647058824,),
 (0.5662188099808061,),
 (0.6505050505050505,),
 (0.6368159203980099,),
 (0.533678756476684,),
 (0.7207792207792207,),
 (0.7251461988304093,),
 (0.6141732283464567,),
 (0.5428571428571428,),
 (0.4482758620689655,),
 (0.5903614457831325,),
 (0.6353711790393013,),
 (0.5484633569739953,),
 (0.6174863387978142,),
 (0.5431309904153354,),
 (0.5075757575757576,),
 (0.5747126436781609,),
 (0.5257009345794392,),
 (0.49372384937238495,),
 (0.5858951175406871,),
 (0.6092896174863388,),
 (0.5172413793103449,),
 (0.5448275862068965,),
 (0.5485436893203883,),
 (0.608540925266904,),
 (0.5967741935483871,),
 (0.7401960784313726,),
 (0.2222222222222222,),
 (0.6147186147186147,),
 (0.5515021459227468,),
 (0.5966666666666667,),
 (0.6195652173913043,),
 (0.6485148514851485,),
 (0.5790554414784395,),
 (0.5873180873180873,),
 (0.6178707224334601,),
 (0.5,),
 (0.54375,),
 (0.6150793650793651,),
 (0.6030534351145038,),
 (0.5014925373134328,),
 (0.5925,),
 (0.4919786096256685,),
 (0.6018957345971564,),
 (0.6083086053412463,),
 (0.6742424242424242,),
 (0.7747318235995232,),
 (0.6415094339622641,),
 (0.5934291581108829,),
 (0.5972222222222222,),
 (0.6321167883211679,),
 (0.574468085106383,),
 (0.6017699115044248,),
 (0.5531914893617021,),
 (0.6797385620915033,),
 (0.5669291338582677,),
 (0.46371681415929206,),
 (0.3101449275362319,),
 (0.6829268292682927,),
 (0.5109489051094891,),
 (0.6431226765799256,),
 (0.6,),
 (0.3,),
 (0.5758661887694145,),
 (0.6210045662100456,),
 (0.6210191082802548,),
 (0.5864661654135338,),
 (0.6197183098591549,),
 (0.5986394557823129,),
 (0.5324675324675324,),
 (0.5836363636363636,),
 (0.6239067055393586,),
 (0.6142506142506142,),
 (0.6123076923076923,),
 (0.6290322580645161,),
 (0.6061269146608315,),
 (0.6474164133738601,),
 (0.2,),
 (0.5703275529865125,),
 (0.673842841765339,),
 (0.6115702479338843,),
 (0.6338028169014085,),
 (0.696969696969697,),
 (0.5384615384615384,),
 (0.5971223021582733,),
 (0.5867346938775511,),
 (0.7611111111111111,),
 (0.5176470588235295,),
 (0.5892857142857143,),
 (0.5963302752293578,),
 (0.5970149253731343,),
 (0.6411657559198543,),
 (0.5789473684210527,),
 (0.6194174757281553,),
 (0.44571428571428573,),
 (0.5911330049261084,),
 (0.5527426160337553,),
 (0.5160550458715596,),
 (0.6686991869918699,),
 (0.4864864864864865,),
 (0.691358024691358,),
 (0.5280701754385965,),
 (0.47619047619047616,),
 (0.5371900826446281,),
 (0.7057728119180633,),
 (0.6451612903225806,),
 (0.6175115207373272,),
 (0.5486725663716814,),
 (0.5649122807017544,),
 (0.5784313725490197,),
 (0.6427221172022685,),
 (0.5339805825242718,),
 (0.6036036036036037,),
 (0.6317991631799164,),
 (0.5830903790087464,),
 (0.581081081081081,),
 (0.6761453396524486,),
 (0.4838709677419355,),
 (0.5949367088607594,),
 (0.5476190476190477,),
 (0.6712328767123288,),
 (0.566147859922179,),
 (0.6342281879194631,),
 (0.6224719101123596,),
 (0.5407725321888412,),
 (0.5825771324863884,),
 (0.5895522388059702,),
 (0.5753424657534246,)]

In [ ]:
res = query('SELECT lastBlock, COUNT(hash) FROM pending_txs GROUP BY lastBlock')
res

In [ ]:
res = query( '''SELECT lastBlock, COUNT(hash)
                FROM pending_txs_raw
                LEFT JOIN blocks
                    ON lastBlock=blockNumber
                WHERE gasPrice IS NULL
                GROUP BY lastBlock''')
res

In [ ]:
res = query( '''SELECT lastBlock, COUNT(hash), baseFeePerGas
                FROM pending_txs_raw
                LEFT JOIN blocks
                    ON lastBlock=blockNumber
                WHERE gasPrice IS NULL
                AND baseFeePerGas >= maxFeePerGas
                GROUP BY lastBlock''')
res